*{
  margin: 0;
  padding:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.App {
  text-align: center;
}

/* styling header  */
h1{
  padding-bottom: 1em;
  color: rgb(95, 177, 224);
}

.header-area{
  background-color: rgba(0, 0, 0, 0.842);
}

/* styling button containers  */
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1EM;
}
.video-button{
  margin: 5px;
  padding: 0.5em;
  font-size: medium;
  border-radius: 2px;
  border: none;
  background-color:rgb(95, 177, 224) ;
  color:rgb(28, 30, 32)
}
.buttons-area{
  background-color: rgba(0, 0, 0, 0.842);
  border-top: 2px solid rgb(107, 113, 116);
  border-bottom: 2px solid rgb(107, 113, 116);
}

.buttons-area:hover{
  border-top: 2px solid lightblue;
  border-bottom: 2px solid lightblue ;
}

.video-button:hover{
  background-color: rgb(55, 65, 75);
  color: rgb(95, 177, 224);
}

.video-container{
  width: 70%;
}
@media (max-width: 600px){
  .video-container{
    width: 97%;
  }
}
.video-area{
  background-color: rgba(0, 0, 0, 0.842);
  padding:1em;
}


/* FOOTER STYLING */
h2{
  padding:1em 0;
}
.footer-area{
  background-color: rgba(0, 0, 0, 0.842);
  padding:3em;
  color: rgb(95, 177, 224);
  border: none;
  text-align: left;
}